.container{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.form-container{
    background-color: gray;
    margin: 60px;
    padding: 50px;
}
.user-form{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.inline-fields{
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.user-input{
    font-size: 24px;
    padding: 5px;
    color: green;
    margin: 20px;
    width: 40%;
}
.user-input-date{
    font-size: 24px;
    padding: 5px;
    color: red;
    margin: 20px;
    width: 60%;
}
.user-input-button{
    font-size: 24px;
    padding: 5px;
    color: white;
    margin: 20px;
    width: 60%;
    background-color: darkblue;
}