*{
    background-color: white;
    
}

.container{
    display: flex;
    justify-content: center;
    width: auto;
    
}

.form-container{
    border: 1px solid black;
    margin: 60px;
    padding: 50px;
    background-color: grey;
    width: 100%;
} 
.user-form{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-color: grey;
}
.inline-fields{
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.user-input{
    font-size: 24px;
    padding: 5px;
    color: green;
    margin: 20px;
    width: 40%;
}
.user-input-date{
    font-size: 24px;
    padding: 5px;
    color: red;
    margin: 20px;
    width: 60%;
    background-color: grey;
}
.user-input-button{
    font-size: 24px;
    padding: 5px;
    color: white;
    margin: 20px;
    width: 60%;
    background-color: darkblue;
}
.footer{
    background-color: black;
    /* display: flex; */
    position: relative;
    color:  white;
    flex-direction: column;
    clear: both;
    position: absolute;
    height: 200px;
    bottom: 0;
    right: 0;
    left: 0;
    /* margin-top: -200px; */
    
}

.image{
    height: 400px;
}
.home{
    background-color: grey;
}